body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.center{
    text-align: center;
    margin-bottom: 3px;
}
.size{
    height: 100px;
    font-size: 3em;
}
/* .flexbox{
    display: flex;
} */
.container{
    width:100%;
}

.marg{
    margin-left: 100px;
    font-size: 2em;
}
.margin-t{
    margin-top: 90px !important;
    margin-bottom: 90px !important;
}
.margin-b{
    margin-bottom: 80px;
}

.m_l{
    margin-left: 3em;
}


.btn1 {
    background-color: #565387 !important;
    padding: 0em 1.5em;
    font-size: 1.4em;
    color: #fff !important;
    outline: none;
    border: none;
    border-radius: 1.8em 1.5em 1.5em 1.5em  !important;
    cursor: pointer;
    margin-left: 2em;
    transition: transform 0.2s, box-shadow 0.2s;
    
  }
  .btn2{
    background-color: #565387 !important;
    padding: 0.5em 1.5em;
    font-size: 1em;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 1.8em 1.5em 1.5em 1.5em  !important;
    cursor: pointer;
    margin-left: 2em;
    text-justify: center;
  }
  .ma{
      margin-bottom: 5px;
  }
  .mar{
      margin-bottom:30px !important;
      margin-top: 0px !important;
  }
  .btn:hover {
    transform: translateY((-5px));
    box-shadow: 0 5px 5px #00000040;
  }
  .mg{
      margin-top:100px;
      margin-bottom: 200px;
  }
  .table1{
      width:80% !important;
      border-right: darkgray  !important;
      border-right-width: 3px  !important;
      margin-left: 10% !important;
  }
  .btn3{
    background-color:red !important;
    color: #fff;
    border-radius: 1.8em 1.5em 1.5em 1.5em  !important;
    cursor: pointer;
    text-decoration-color: white;

  }
  .marg2{
      margin-left:20%;
      margin-top: 8px;
  }
  .width{
      width:90% !important;

  }
  
  .w{
      width:60px !important;
  }
  #Approve{
      text-align: center !important;
      margin-top: 20px;
  }